.container {
  display: flex;
  background: #dbdee2;
  min-height: 22rem;
}

.info {
  padding: 1rem;
  flex: 1;
}

.info__card {
  position: relative;
  width: 60%;
  background-color: #ffffff;
  padding: 1rem;
}


.info__card h2 {
  margin: 0;
}

.info__time {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #747a88;
}

.info__weather_icon {
  display: flex;
}

.info__temp {
  font-size: 4rem;
}

.info__weather_descr {
  font-size: .8rem;
  color: #696666;
  padding: .5rem 0;
}

.history {
  padding: 1rem;
  flex: 1;
  text-align: right;
}

.history>ul {
  list-style: none;
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
}

.history__item {
  background-color: #445ff8;
  color: #ffffff;
  padding: .5rem 1rem;
  cursor: pointer;
  position: relative;
}

.history__delete {
  position: absolute;
  top: -0.2rem;
  right: 0.2rem;

}

.history>ul>li {
  margin: 1rem;
}

.history__clear_all {
  padding-right: 1rem;
  text-decoration: underline;
  color: #445ff8;
  cursor: pointer;
}

.yamap {
  height: 600px;
}

.search {
  position: absolute;
  top: 1rem;
  left: 2.5rem;
}

.search__sugest_input {
  font-size: 1.2rem;
  border: 1px solid #445ff8;
  padding: .5rem;
}

.search__sugest_list {
  background: #ffffff;
  margin: 0;
  padding: .5rem;
}

.search__sugest_list li {
  list-style: none;
  line-height: 1.5rem;
  cursor: pointer;
}

@media(max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .info__card {
    width: 100%;
    padding: .3rem;
  }

  .history {
    padding: 0;
  }

  .history>ul {
    padding: 0;
  }

}